@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .meet-page-wrapper {
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    @media (max-width: 1024px) {
      width: 100%;
      /* margin-left: 0; */
      gap: 24px;
    }
  }
}